<div>
  <div class="max-w-2xl">
    <h1 class="font-bold text-xl my-5">Messages</h1>
    <div id="messages" class="mb-5">
      <%= render MessageComponent.with_collection(@messages) %>
    </div>
  </div>

  <%= render "form" %>
</div>
